# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/

# VS Code
.vscode/

# Logs
*.log

# Environment variables
.env

# Data Cache Local
data_cache/*.csv
data_cache/*_meta.json
scratch/test_cache/

# OS
.DS_Store
Thumbs.db